server:
  port: 9900
  
  
spring:  application:    name: USERDETAILS-SERVICE
#management:
 #  security:
  #    enabled: falsemanagement:
  endpoints:
    web:
      exposure:
        include:
        - "*"
        
  endpoint:    health:      show-details: always    info:      enabled: true

eureka:  client:    register-with-eureka: true
    fetch-registry: false
    service-url:      defaultZone: http://localhost:8761/eureka/
  
 